<h1>Workspace Component</h1>
<div class="my-workspace">
  <div
    cdkDropList
    id="list-2"
    cdkDropListConnectedTo="list-1"
    [cdkDropListData]="done"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="workspace-list" [sortablejs]="done">
      <div class="workspace-box" *ngFor="let item of done">
        <img src="{{ item.url }}" />
        <div>{{ item.title }}</div>
      </div>
    </div>
  </div>
</div>
