

.my-workspace {
    width: 1200px;
    border: solid 1px #ccc;
    height: 700px;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
overflow: hidden;
  
   
.workspace-list {
    margin-top: 5rem;
    flex-wrap: wrap;
    width: 1600px;
    max-width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
  }
.workspace-box {
    margin: 1rem;
    width: 100px;
    height: 100px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
 
  }
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
      // background-color: rgb(49, 206, 35);
  }
   
  .cdk-drag-placeholder {
    opacity: 0;
  }
   
  // .drag-placeholder {
  //   background: #ccc;
  //   border: dotted 3px #999;
  //   height: 150px;
  //   width: 50px;
  //   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  // }
  
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  // .cdk-drop-list-receiving{
  //   background-color: rgb(139, 62, 62);
  // }
   
  .workspace-box:last-child {
    border: none;
  }
   
   
  .workspace-list.cdk-drop-list-dragging .workspace-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
