<h1>SidePallete Component</h1>
<div class="side-pallet">
  <div
    cdkDropList
    id="list-1"
    class="side-pallet-list"
    cdkDropListConnectedTo="list-2"
    [cdkDropListData]="list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="side-pallet-box" *ngFor="let item of list" cdkDrag>
      <div>{{ item.title }}</div>
      <img src="{{ item.url }}" />
    </div>
  </div>
</div>
